@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.App {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/* .content {
  padding: 1rem;
} */
.trigger {
  /* padding: 0 auto; */
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
  width: 20%;
}
.header-menu {
  margin-left: 5px;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px 5px 16px 16px;
  width: 70%;
  /* background: rgba(255, 255, 255, 0.3); */
}
.logo > img {
  height: 32px;
}
.sidebar {
  height: 100vh;
}

.site-layout .site-layout-background {
  background: #fff;
}
.header-layout {
  display: flex;
}
.header-btn {
  border-radius: 6px;
  font-weight: 500;
  color: #686868;
  margin-left: 5px;

  /* background-color: ; */
  /* border: none; */
}
.header-btn:hover {
  background: #f5faff;
}
.header-btn:focus {
  background: #f5faff;
}
.search-btn {
  color: #686868;
}
.search-btn:hover {
  background: #f5faff;
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .header-menu {
    display: none;
  }
}
